oglasi.dtd

<!ELEMENT Oglasi (Oglas+)>
<!ELEMENT Oglas(Kategorija,DatumIsteka,Cena,TekstOglasa,Oznaka,E-Posta)

<!ELEMENT DatumIsteka (#PCDATA)>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT TekstOglasa (#PCDATA)>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT E-Posta (kontakt+)>
<!ELEMENT kontakt(#PCDATA)>


<!ATTLIST Cena valuta (eur|din) "din" #REQUIRED>
<!ATTLIST E-Posta (privatni|sluzbeni) #REQUIRED>